{% load edc_base_extras %}
{% load pre_flourish_dashboard_extras %}

<div class="list-group">
    <a class="list-group-item"><i class="fa fa-birthday-cake fa-fw"></i>
        {{ subject_consent.dob }}
        {%    get_age subject_consent.dob %}

    </a>
    <a class="list-group-item"><i class="far fa-address-card fa-fw"></i>
        {{ subject_consent.identity|default:'?? identity' }}
        <span data-toggle="tooltip" data-placement="right"
              title="{{ subject_consent.first_name }} {{ subject_consent.last_name }}"
              class="text text-default">
            {% if subject_consent %}

                {{ subject_consent.first_name }}
                {{ subject_consent.initials }}
            {% endif %}

            <sup>
                <i
                        class="fa fa-asterisk fa-fw">
                </i>
            </sup>
        </span>
    </a>
    <a class="list-group-item">
        <i class="fa fa-users"></i>
        <span data-toggle="tooltip" data-placement="right" title="Cohorts"
              class="text text-default">
				Consent Version {{ subject_consent.version }}
			</span>
    </a>
</div>