{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load pre_flourish_dashboard_extras %}


{% block listboard_panel %}
    {% if results %}
        <span class="pull-right">
	<span class="glyphicon glyphicon-folder-open"></span>
	<a href="{% url 'flourish_dashboard:locator_report_url' %}" class="btn btn-sm btn-info">Locator report</a>
	</span>
        &nbsp;&nbsp;
    {% endif %}
{% endblock listboard_panel %}
{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Study Maternal Identifier</th>
    <th>Screening Identifier</th>
    <th>Subject Identifier</th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}
    <td style="white-space: nowrap;">
        <div class="btn-group">
            {% edit_screening_button result %}
            {% screening_button result %}
        </div>
    </td>
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}

    <td>{{ result.previous_subject_identifier }} </td>

    {% if result.subject_screening_obj.screening_identifier %}
        <td>{{ result.subject_screening_obj.screening_identifier }}</td>
    {% else %}
        <td></td>
    {% endif %}

    {% if result.subject_consent_obj.subject_identifier %}
        <td>{{ result.subject_consent_obj.subject_identifier }}</td>
    {% else %}
        <td></td>
    {% endif %}
   
{% endblock listboard_table_columns %}
