{% extends "edc_dashboard/listboard.html" %}
{% load edc_base_extras %}


{% block listboard_table_header %}

    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Identifier</th>
    <th>Subject</th>
    <th>Age / Born</th>
    <th>Modified</th>
    <th>Host</th>
    <!-- end results header -->

{% endblock listboard_table_header %}

{% block listboard_table_button_column %}

{% endblock listboard_table_button_column %}

{% block listboard_table_columns %}



{% endblock listboard_table_columns %}
